.taskBoard {
  display: grid;
  /* TODO: make this a flex, and scrollable horizontally */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--space-4);
  margin-top: var(--space-4);
}

.taskBoardHeader {
  border-bottom: 1px solid var(--gray-6);
  padding-bottom: var(--space-2);
  margin-bottom: var(--space-2);
}

.emptyTaskBoard {
  text-align: center;
  padding: var(--space-8) var(--space-5);
  color: var(--gray-9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .taskBoard {
    grid-template-columns: 1fr;
    gap: var(--space-4);
  }

  .emptyTaskBoard {
    padding: var(--space-6) var(--space-4);
  }
}
